<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/common :: head('board')"> </head>
  <body>
    <nav
      class="navbar navbar-expand-md navbar-dark bg-dark mb-4"
      th:replace="fragments/common :: menu('board')"
    ></nav>
    <div class="container">
      <h2>Board</h2>
      <div>total count:<span th:text="${boards.totalElements}"></span></div>
      <form
        class="row g-3 d-flex justify-content-end"
        method="GET"
        th:action="@{/board/list}"
      >
        <div class="col-auto">
          <label for="searchText" class="visually-hidden">Search</label>
          <input
            type="text"
            class="form-control"
            id="searchText"
            name="searchText"
            th:value="${param.searchText}"
          />
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-light mb-3">Search</button>
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="board : ${boards}">
            <td th:text="${board.id}">Mark</td>
            <!--에 전달 -->
            <td>
              <a
                th:text="${board.title}"
                th:href="@{/board/form(id=${board.id})}"
                >Otto</a
              >
            </td>
            <td th:text="${board.user.username}">jenn</td>
          </tr>
        </tbody>
      </table>
      <div class="text-end">
        <a type="button" class="btn btn-dark" th:href="@{./form}">write</a>
      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li
          class="page-item"
          th:classappend="${1 == boards.pageable.pageNumber + 1} ? 'disabled'"
        >
          <a
            class="page-link"
            href="#"
            th:href="@{/board/list(page=${boards.pageable.pageNumber-1},searchText=${param.searchText})}"
            tabindex="-1"
            aria-disabled="true"
            >Previous</a
          >
        </li>
        <li
          th:each="i: ${#numbers.sequence(startPage,endPage)}"
          th:classappend="${i == boards.pageable.pageNumber + 1} ? 'disabled'"
          class="page-item"
        >
          <a
            class="page-link"
            href="#"
            th:href="@{/board/list(page=${i-1},searchText=${param.searchText})}"
            th:text="${i}"
            >1</a
          >
        </li>
        <li
          class="page-item"
          th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled'"
        >
          <a
            class="page-link"
            href="#"
            th:href="@{/board/list(page=${boards.pageable.pageNumber+1},searchText=${param.searchText})}"
            >Next</a
          >
        </li>
      </ul>
    </nav>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
